:root {
    --white-color: #FFFFFF;
    --secundary-color: #362924;
    --dark-color: #101010;
    --terciary-color: #7e6d67;
    --soft-color: #e0d5c2;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark-color);
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Define uma altura mínima para o body */
    display: flex;
    flex-direction: column; /* Para que o footer fique no final da página */
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--secundary-color);
    color: var(--white-color);
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    margin: 20px auto; /* Centraliza o container horizontalmente */
    background-color: var(--soft-color);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Faz com que o conteúdo ocupe o espaço disponível entre o header e o footer */
}

h1 {
    margin-bottom: 0;
}

nav {
    background-color: var(--dark-color);
    padding: 10px;
}

nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul.menu li {
    display: inline;
    margin-right: 15px;
}

nav ul.menu li a {
    color: var(--soft-color);
    text-decoration: none;
}

nav ul.menu li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: var(--soft-color);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid var(--soft-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--terciary-color);
    color: var(--soft-color);
    width: 100%;
    margin-top: auto; /* Empurra o footer para o final da página */
}
